body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(69.42% 137.28% at 50% 50%, #000000 0%, rgba(255, 255, 255, 0) 100%); 
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    height: 8vh;
    background-color: #212121;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .25s;
}
header:hover, header:focus{
    padding-top: 1vh;
}
header h1{
    min-width: 100%;
    padding: 0;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 }
section#mainContainer, section#createPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212121;
    border-radius: 20px;
    width: 35vw;
    min-width: 350px;
    height: 50vh;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 450px;
} 
h1 {
    font-family: 'Nova Flat';
    font-size: 35px;
    font-weight: 200;
    color: #FF5353;
    margin: 0;
    text-align: center;
}
#mainContainer div{
    display: inherit;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #FF5353;
}
h2 {
    font-family: 'Nova Flat';
    font-size: 25px;
    font-weight: 200;
    color: #FF5353;
    width: min-content;
    min-width: 212px;
    margin-bottom: 0;
    text-align: center;
    height: 30px;
}
input {
    background-color: #00000000;
    border: none;
    color: #D9D9D9;
    width: 100%;
    font-family: 'Nova Script';
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
}
button {
    background-color: #00000000;
    border: 1px solid #FF5353;
    border-radius: 5px;
    color: #D9D9D9;
    font-family: 'Nova Flat';
    font-size: 15px;
    display: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    
}

section#createPanel {
    display: none;
}
#keySection {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
div.keyDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
#createPanel h2{
    min-width: 150px;
    border-bottom: 1px solid #FF5353;
    text-align: left;
}
#seedPhrase {
    width: 100%;
    height: 50%;
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: normal;
    align-items: flex-start;
    justify-content: flex-start;
}
div h2.key {
    font-family: 'Nova Script';
    width: 75%;
    min-width: unset;
    overflow-x: scroll;
    overflow-y: clip;
    font-size: 20px;
    color: #D9D9D9;
    align-self: flex-end;
}
h3 {
    font-family: 'Nova Flat';
    font-size: 24px;
    text-align: center;
    color: #FF5353;
}
h4 {
    font-family: 'Nova Flat';
    font-size: 22px;
    text-align: center;
    color: #D9D9D9;
    font-weight: 200;
}
h5 {
    font-family: 'Nova Flat';
    font-size: 12px;
    text-align: center;
    color: #FF5353;
    font-weight: 100;
}
section#createPanel button.copyButton {
    background-image: url('https://talkonion.com/src/pictures/png/copyIcon.png');
    width: 24px;
    height: 24px;
    border: none;
}
::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9D9D9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}